button {
  position: absolute;
  padding: 30px 100px 30px 100px;
  z-index: 3;
  background: $color-button;
  border-radius: 14px;
  -webkit-appearance: none;

  font-family: Mukta Malar;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.4em;
  color: #ffffff;

  transform: translateX(-147px) translateY(360px);
}

button:focus {
  outline: 0;
}
