@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@700&display=swap");

@import "normalize-scss";
@include normalize();

@import "components/tree";
@import "components/basket";
@import "components/apples";
@import "components/button";

@import "pages/index";

body {
  background: $color-bg;
}
* {
  box-sizing: border-box;
}

@media screen and (max-height: 900px) {
  .container {
    margin-top: 100px;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    button {
      transform: translateX(-140px) translateY(420px);
    }
  }
}
